:root {
    --color1: #ffffff; /* Fondo */
    --color2: #5e9188; /* Formulario */
    --color3: #3e5954; /* Acento oscuro */
    --color4: #253342; /* Nav */
    --color5: #232226; /* Texto contraste */
}

/* Fuentes personalizadas */
@font-face {
    font-family: "Titulo";
    src: url(/Fuentes/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: "TituloR";
    src: url(/Fuentes/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: "sub_titulo";
    src: url(/Fuentes/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
}
@font-face {
    font-family: "sub_titulo2";
    src: url(/Fuentes/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype");
}
@font-face {
    font-family: "contenido";
    src: url(/Fuentes/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
}
@font-face {
    font-family: "contenido2";
    src: url(/Fuentes/Roboto/Roboto-VariableFont_wdth\,wght.ttf) format("truetype");
}

/* Estilos generales */
span {
    font-family: "contenido";
}

h1, h2 {
    font-family: "Titulo";
}

a {
    font-family: "sub_titulo";
}

/* Estilos para el layout flexible */
body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#sidebar {
    width: 250px;
    background-color: var(--color2);    
    border-right: 1px solid #dee2e6;
    transition: all 0.3s ease;
    overflow-y: auto;
    flex-shrink: 0;
}

#sidebar.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
    border: none;
}

/* Botón de colapso */
#sidebarToggle {
    background-color: var(--color2);
    border: none;
    color: white;
    transition: background-color 0.3s ease;
}

#sidebarToggle:hover {
    background-color: var(--color3); /* Color más oscuro al pasar el mouse */
}

#mainContent {
    flex: 1;
    transition: all 0.3s ease;
    overflow: hidden;
    display: flex;
}

iframe {
    flex: 1;
    border: none;
}

.alto-row {
    height: calc(100vh - 66px); /* Altura total menos la altura de la navbar */
    overflow: hidden;
}

/* Estilos para el menú lateral */
#sidebar .nav-link {
    padding: 0.75rem 1rem;
    color: white;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

#sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

#sidebar .nav-link i {    
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

/* Estilos para la navbar superior */
.navbar-top {
    height: 66px;
}